<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%p] %d{ISO8601} - [reactive-processor] %c - %m%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="Console"/>
		</Root>
		<!-- avoid recursive logging! NEVER use a level below INFO -->
		<Logger name="org.apache.kafka" level="WARN">
			<AppenderRef ref="Kafka"/>
		</Logger>
	</Loggers>

</Configuration>
